<!--Auhtor: Amritpal Singh-->

<%- include('layouts/head'); -%>
    <%- include('layouts/header'); -%>
        <%- include('layouts/nav'); -%>
            <main class="dashboard">
                <section style="text-align: center;">
                    <h1 style="font-weight: bolder;">Hello <%= adminName %>!</h1>
                    <br>
                    <h3>Welcome to Dashboard!!!</h3>

                    <a href="/allPages">Click Here</a> to go to All Pages.
                </section>
            </main>
            <%- include('layouts/footer'); -%>