<!--Auhtor: Amritpal Singh-->

<%- include('layouts/head'); -%>
    <%- include('layouts/header'); -%>
        <%- include('layouts/nav'); -%>
            <main class="deletePage">
                <section style="text-align: center;">
                    <div class="formData">
                        <%= message %>
                    </div>
                    <br>
                    <a href="/allPages">Click Here</a> to go to All Pages.
                </section>
            </main>

            <%- include('layouts/footer'); -%>